.hidden{
    display: none;
}
body{
    background-image: linear-gradient(to bottom right, #13547a, #80d0c7);
    background-size: 100% 150%;
    color: #f2faf9;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    margin: 5%;
    text-align: center;


}
#messages{
    height:150px;
}